<div class="app">
  {{top-nav}}

  <div class="main">
      {{outlet}}

      {{game-card game='sushi'}}
  </div>

    <footer class="footer">
      <ul class="footer-left">
        <li>copyright &copy; 2016</li>
      </ul>
    </footer>
  </div>
