<nav class="top-nav">
  <ul class="nav-left">
    <li class="nav-left_item">
      {{#link-to 'index'}}
        card games
      {{/link-to}}
    </li>
  </ul>
  <ul class="nav-right">
    <li class="nav-right__item">
      {{#link-to 'index'}}
        sushi go
      {{/link-to}}
      {{#link-to 'index'}}
        dominion
      {{/link-to}}
    </li>
  </ul>
</nav>
